{% extends "base.html" %}
{% block title %}{{blog.title}}{% endblock %}
{% block head %}
{{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='markdown/css/editormd.preview.css')}}"/>
{% endblock %}
{% block wrapper%}
{{super()}}
<!-- Main -->
<div id="main">
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">{{blog.title}}</a></h2>
                <p>{{blog.subtitle}}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="{{blog.created_time}}">{{blog.created_time}}</time>
            </div>
        </header>
        <div id="test-editormd-view2">
               <textarea id="append-test" style="display:none;">{{blog.content}}</textarea>
       </div>
        <!-- 多说评论框 start -->
         <div class="ds-thread" data-thread-key="{{blog.id}}" data-title="{{blog.title}}"
              data-url="{{url_for('.detail',id=blog.id)}}"></div>
         <!-- 多说评论框 end -->
         <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
         <script type="text/javascript">
       var duoshuoQuery = {short_name:"etsunny"};
       (function() {
       var ds = document.createElement('script');
       ds.type = 'text/javascript';ds.async = true;
       ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
       ds.charset = 'UTF-8';
       (document.getElementsByTagName('head')[0]
       || document.getElementsByTagName('body')[0]).appendChild(ds);
       })();

         </script>
         <!-- 多说公共JS代码 end -->
    </article>

    <!-- Footer -->
    <center>
      <section id="footer">
          <ul class="icons">
              <li><a href="http://www.github.com/ETsunny" class="fa-github"><span>&nbsp;GitHub</span></a></li>
          </ul>
          <p class="copyright">&copy; Copyright. ETsunny 2016
      </section>
    </center>
</div>

<script src="{{ url_for('static', filename='markdown/examples/js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/marked.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/prettify.min.js')}}"></script>

<script src="{{ url_for('static', filename='markdown/lib/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/underscore.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/sequence-diagram.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/flowchart.min.js')}}"></script>
<script src="{{ url_for('static', filename='markdown/lib/jquery.flowchart.min.js')}}"></script>

<script src="{{ url_for('static', filename='markdown/editormd.js')}}"></script>
<script type="text/javascript">
            $(function() {
                var testEditormdView, testEditormdView2;

                $.get("test.md", function(markdown) {

				    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });

                    //console.log("返回一个 jQuery 实例 =>", testEditormdView);

                    // 获取Markdown源码
                    //console.log(testEditormdView.getMarkdown());

                    //alert(testEditormdView.getMarkdown());
                });

                testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });


</script>

{% endblock %}
