<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>注册与登录</title>
</head>
<body>
<div class="background">
  <div class="content clearfix profile">
    <div class="box user-box login-box">
    <form action="/user/login" method="post">
        <input name="username">
        <br>
        <input name="password">
        <button>登录</button>
    </form>
    </div>

  </div>
  </div>
</body>
</html>
